.home-bg{
    background-image: url('../../images/landing-page.jpg');
    background-size: cover;
    height: auto;
}
.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
    border-radius: 50% !important;
}
