.error-label{
    color: red;
    display: inline;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
  }

  .bg-login{
    background-image: url('../../images/landing-page.jpg');
    background-size: cover;
    height: 100vh;
  }

  .login-card{
    background-color: rgba(35, 34, 36, 0.473);
    border-radius: 10px;
    border: none;
  }